.time-slot {
    width: 60px;
    height: 60px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: white;
}

.time-slot.available {
    background-color: #28a745; /* Verde */
}

.time-slot.reserved {
    background-color: red; /* Vermelho */
}
